<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/_layoutAdmin ::main-fragment (
                        ~{:: title},
                        ~{:: #edit-static-resource},
                        ~{:: #edit-main-content},
                        ~{:: #edit-static-resource-end},
                        ~{:: #TinyMCE}
       )}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link bootstrap-->
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit Manu-facture</title>
    <th:block id="edit-static-resource">
        <!--        Khu vực để link Css, JavaScript ở đầu trang index.html-->
        <!--    Nếu cần, còn không thì bỏ trống-->
    </th:block>
</head>
<body>
<div id="edit-main-content">
    <h1>Edit Manufacture</h1>
    <form action="#!" th:action="@{/admin/manu-facture/edit/{id}(id=${manufacture.id})}" method="post" th:object="${manufacture}">
        <input type="hidden" name="id" th:field="*{id}">
        <input type="hidden" name="status" th:field="*{status}">
        <div class="form-group">
            <label for="name">name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Name Manufacture" th:field="*{name}">
        </div>

        <div class="form-group">
            <label for="myTextarea">description</label>
<!--            <textarea class="form-control" type="text" name="description" id="description" rows="3" placeholder="Description" th:field="*{description}"></textarea>-->
            <textarea id="myTextarea" name="description" th:field="*{description}"></textarea>
        </div>

        <input type="hidden" name="create_at" id="createAt" th:field="*{createAt}">
        <input type="hidden" name="create_at" id="updateAt" th:field="*{updateAt}">

        <input class="btn btn-success" type="submit" value="Update">

    </form>
</div>

<th:block id="edit-static-resource-end">
    <!--        Khu vực để link Css, JavaScript ở cuối  trang index.html-->
    <!--    Nếu cần, còn không thì bỏ trống-->
</th:block>
<div id="TinyMCE">
    <script type="text/javascript"
            src='https://cdn.tiny.cloud/1/hrbaibq7hoewj5ixeqday9q4a2zjrxslotlqt7pf8xikj79u/tinymce/7/tinymce.min.js'
            referrerpolicy="origin">
    </script>
    <script>
        tinymce.init({
            selector: '#myTextarea',

            width: '100%',
            height: 300,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            // content_css: '/Content/css/content.css'
        });
    </script>
</div>
</body>
</html>