<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Fragment</title>
</head>
<body>
<!-- Default Navigator -->
<ul th:fragment="nav-default">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/products}">Products</a></li>
    <li><a th:href="@{/about}">About</a></li>
</ul>




<!-- Admin Navigator -->
<ul th:fragment="nav-admin">
    <li><a th:href="@{/admin/products}">Product Management</a></li>
    <li><a th:href="@{/admin/orders}">Order Management</a></li>
</ul>

<div th:fragment="header-admin">
    <h1>This is header</h1>
</div>


<!--Footer-->
<div th:fragment="copyright">
    &copy; o7planning.org
</div>
</body>
</html>